/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #ff4e17;
  --ifm-color-primary-dark: #ff4e17;
  --ifm-color-primary-darker: #ff4e17;
  --ifm-color-primary-darkest: #ff4e17;
  --ifm-color-primary-light: #ff4e17;
  --ifm-color-primary-lighter: #ff4e17;
  --ifm-color-primary-lightest: #ff4e17;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #ff4e17;
  --ifm-color-primary-dark: #ff4e17;
  --ifm-color-primary-darker: #ff4e17;
  --ifm-color-primary-darkest: #ff4e17;
  --ifm-color-primary-light: #ff4e17;
  --ifm-color-primary-lighter: #ff4e17;
  --ifm-color-primary-lightest: #ff4e17;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

img {
  max-width: 75%;
  margin: 0 auto;
  height: fit-content;
}

.my-button {
  padding: 4px 8px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cta-button {
  margin: 0 auto;
  padding: 4px 8px;
  font-size: 32px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--ifm-color-primary);
  color: white;
  text-decoration: none;
}
.cta-button > a {
  color: white;
  text-decoration: none;
}